@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
}

/* header styles starts */
.desktop {
  display: none;
}

.header {
  background-image: url("photo/assets/mobile_index_bg.png");
  height: 90px;
  border: 2px solid #fff;
}

.nav-ic {
  display: none;
}

.hamburger {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.hamburger img {
  width: 40px;
}

.tm-logo img {
  width: 120px;
  margin-left: 20px;
}

.hamburger-btn {
  margin-left: 30px;
  border: none;
  border-radius: 4px;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.t-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  border-bottom-left-radius: 50px;
  backdrop-filter: blur(1px);
  background: #fff;
  z-index: 10;
  display: flex;
  flex-direction: column;
  transition: all 100ms ease-in-out;
  transform: scale(0);
}

.t-menu.active {
  transform: scale(1);
}

.c-button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 2rem;
  color: black;
  padding-left: 300px;
  padding-top: 30px;
}

.tul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-weight: 600;
  font-size: 25px;
  gap: 40px;
  color: #fff;
  margin-left: 50px;
}

.cc {
  border: 4px solid orangered;
  width: 130px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 12px;
  margin-left: 50px;
}

.tul a {
  color: black;
  text-decoration: none;
}

.tul a:hover {
  color: orangered;
}

.cc:hover {
  background: orangered;
  color: #fff;
}

/* .info-container styles starts here */
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("photo/assets/mobile_index_bg.png");
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.info-text {
  line-height: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.greetext {
  color: #ec5242;
  margin-top: 25px;
  margin-bottom: 20px;
}

.greting {
  margin: 0 45px;
}

.txt {
  margin: 0 45px;
}

.dif {
  color: #ec5242;
  font-size: 35px;
  font-weight: 900px;
  line-height: 40px;
}

.write-up {
  color: rgb(37, 37, 85);
  margin: 20px 0 20px 17px;
  font-size: small;
  line-height: 20px;
}

.txt-p {
  background-color: #d3d3d3;
  border: 1px solid white;
  border-radius: 12px;
  margin: 25px 0;
}

.info-date h3,
p {
  color: rgb(37, 37, 85);
}

.guest-artist {
  color: white;
}

/* programs starts */
.topic {
  color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.programs {
  background: #272a31;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.all-programs {
  background-image: url(photo/assets/pattern.png);
  display: flex;
  flex-direction: column;
}

.program-list {
  display: flex;
  flex-direction: column;
}

.icons {
  background-color: #ffffff26;
  display: flex;
  margin: 8px 8px 0;
  align-items: center;
  line-height: 19px;
  padding: 0 15px 0 15px;
  height: 80px;
  text-align: justify;
}

.icons:hover {
  border: 2px solid #fff;
}

.material-icons {
  color: #fff;
}

.ico2 {
  color: #fff;
  font-size: 11px;
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.ico {
  margin-left: 15px;
  color: #ff4632;
  font-weight: 600;
}

.prog-foot {
  background-color: #ff4632;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 17px 20px;
  border-radius: 6px;
}

.prog-foot-btn {
  background: none;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.prog-foot:hover {
  background-color: #ec5242;
  border: 1px solid #fff;
}

/* artist styles */
.guest-overall {
  background-color: #fff;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}

.see1 {
  display: none;
}

#less {
  display: none;
}

.see1.active {
  display: block;
}

#less.active {
  display: flex;
}

#more.active {
  display: flex;
}

.arthead {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 60px;
}

.artists {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.guestlists {
  display: flex;
  flex-direction: column;
  color: black;
  font-style: italic;
  margin: 0 30px;
}

.achievments p {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  font-size: 12px;
}

.art-imgs {
  display: flex;
}

.art-imgs img {
  width: 160px;
  height: 200px;
}

.guestart-wrapper {
  display: flex;
  color: black;
  text-align: justify;
}

.placeofwork {
  color: #ec5242;
}

.hr {
  background-color: #ec5242;
  width: 50px;
  height: 2px;
  margin-top: -60px;
}

.hrperent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-btn {
  height: 50px;
  font-size: 15px;
  background: none;
  color: #102a66;
}

.artbtn {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  border: 3px solid rgb(109, 107, 107);
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 5px;
  margin-right: 5px;
  width: 70%;
}

.art-btn img {
  margin-left: 9px;
}

.artbtn:hover {
  border: 4px solid rgb(109, 107, 107);
}

/* footer style starts */
.footer {
  background: #272a31;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  height: 300px;
  margin-bottom: 17px;
}

.foot-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ahr {
  width: 40px;
  background-color: orangered;
  height: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 50px;
}

.footer p {
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.foot-icons img {
  width: 90px;
  margin: 20px 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ff-img img {
  width: 70px;
}

.foot-icons img:hover {
  width: 95px;
}

.foot-foot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ff-writeup {
  color: #323233;
}

.art-imgs img:hover {
  width: 166px;
  height: 205px;
}

@media screen and (min-width: 768px) {
  .info-container {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .nav-ic {
    display: flex;
    background-color: rgb(13, 15, 15);
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: -20px;
  }

  .nav-ic p {
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
  }

  .nav-ic img {
    background: none;
    border: none;
    width: 11px;
    display: flex;
    align-items: center;
  }

  .desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dest-nav-logo img {
    width: 100px;
  }

  .nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
    text-decoration: none;
    margin: 0 50px;
  }

  .nav-ul a {
    text-decoration: none;
    font-weight: 600;
  }

  .nav-ul a:hover {
    color: orangered;
    text-decoration: underline;
  }

  .cc-nav {
    border: 3px solid orangered;
    color: orangered;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  .cc-nav:hover {
    background-color: orangered;
    color: #fff;
  }

  .desk-cc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .achievments p {
    margin: 0 30px 30px;
  }

  .works,
  .placeofwork {
    line-height: 15px;
    margin-bottom: 5px;
  }

  .all-programs {
    height: 300px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .programs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .program-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .icons {
    display: flex;
    flex-direction: column;
    margin: 8px 8px 0;
    align-items: center;
    line-height: 19px;
    padding: 0 15px 0 15px;
    text-align: justify;
    justify-content: center;
    height: 250px;
  }

  .ico {
    margin-bottom: 8px;
  }

  .ico2 {
    color: #fff;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 0;
  }

  .material-icons {
    margin-bottom: 8px;
  }

  .prog-foot {
    width: 50%;
  }

  .prog-foot-btn {
    height: 70px;
  }

  .artists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .see1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .guestart-wrapper {
    display: flex;
  }

  .guest-artist {
    display: flex;
    flex-direction: column;
  }

  .over {
    display: flex;
  }

  .artbtn {
    display: none;
  }
}
