body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.overall-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.mobile-nav a {
  text-decoration: none;
  color: white;
  font-size: x-large;
  padding: 12px;
}

.mobile-nav a:hover {
  color: #3c9ba5;
}

.separator {
  color: white;
  font-size: larger;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.search {
  height: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 0;
  width: 60vw;
}

.search-btn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 0;
  background-color: #3c948b;
  width: 30vw;
}

.menu-bar {
  background-color: #3c948b;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 30px;
  align-items: center;
}

.fa-bars,
.menu-bar span {
  color: #fbfaf9;
}

.fa-bars:hover {
  color: #cacaca;
}

#myLinks {
  display: none;
  width: 100vw;
}

#myLinks a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #1f4b47;
}

#myLinks a:hover {
  background-color: #3f3f3f;
}

header {
  background-color: #272A31;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  width: 100vw;
}

.card-holder{
  display: flex;
  width: 80vw;
  /* border: 1px solid blue; */
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 2px solid #3c9ba5;
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:min-content;
}

#heart {
  width: 24px;
  height: 24px;
}

.pages {
  padding: 15px;
}

.span-one,
.span-two {
  font-size: larger;
  color: #fbfaf9;
  padding: 12px;
}

.span-two {
  font-size: medium;
}

.left-footer,
.right-footer {
  display: flex;
  flex-direction: column;
}

.footer-three a,
.footer-four a {
  color: #3c9ba5;
  text-decoration: none;
  font-size: larger;
  padding: 12px;
}

.footer-four a {
  font-size: medium;
}

.footer-three a:hover,
.footer-four a:hover {
  text-decoration: underline;
}

footer {
  /* display: flex; */
  justify-content: space-between;
  background-color: #272A31;
  width: 100vw;
  padding: 10px 0;
}

.modalImg {
  width: 40vw;
  height: 40vh;
}

.modal {
  flex-direction: column;
  padding: 0 3vw;
  margin: 10vh 10vw;
  height: 80vh;
}

.description {
  display: grid;
  grid-template-columns: auto auto;
  gap: 80px;
}

#close {
  margin-left: 30vw;
  width: 35px;
  text-align: center;
  background-color: #272a31;
  color: white;
  margin-right: -3vw;
}

.wrapper {
  flex-direction: column;
}

@media (min-width: 768px) {
  .logo {
    order: 1;
  }

  .account {
    order: 3;
  }
  
  .menu-bar {
    display: none;
  }
  .search-bar {
    width: 50vw;
    order: 2;
  }

  #myLinks {
    display: flex;
    order: 4;
    background-color: #3c948b;
  }

  #myLinks a {
    display: inline;
    background-color: #3c948b;
  }

  .card-holder{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  footer {
    display: flex;
  }

  .wrapper {
    flex-direction: row;
  }

  .modalImg {
    width: 20vw;
    height: 40vh;
  }
}